repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
    exclude: "tests/test_catch_py311.py"
  - id: end-of-file-fixer
  - id: mixed-line-ending
    args: ["--fix=lf"]
  - id: trailing-whitespace

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: v3.6.0
  hooks:
  - id: pyupgrade
    args: ["--py37-plus", "--keep-runtime-typing"]

- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
  - id: black
    exclude: "tests/test_catch_py311.py"

- repo: https://github.com/csachs/pyproject-flake8
  rev: v6.0.0.post1
  hooks:
  - id: pyproject-flake8
    additional_dependencies: [flake8-bugbear]
    exclude: "tests/test_catch_py311.py"

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-check-blanket-noqa
  - id: python-check-blanket-type-ignore
  - id: python-no-eval
  - id: python-use-type-annotations
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
